.header-bg {
    background : #134E5E;
    background : linear-gradient(to right, #71B280, #134E5E);
}

.header-content {
    padding : 100px 0;
    text-align : center;
}

.header-content h1 {
    font-size      : 70px;
    font-weight    : 300;
    margin-bottom  : 0;
    letter-spacing : -1px;
}

.line-shape-heading {
    width            : 150px;
    height           : 4px;
    margin-top       : 15px;
    background-color : white;
}

.line-shape-heading { margin-left : calc(50% - 75px) }
