/************************************************************************************************************************
DOWNLOAD
***********************************************************************************************************************/

.downloads {
    margin-top : 50px;
}

.downloads a i {
    font-size          : 50px;
    -webkit-transition : 0.3s;
    transition         : 0.3s;
    color              : gray;
}

.downloads a i:hover {
    color : #009688;
}

.downloads .download-link {
    font-size : 25px
}

.downloads .download-link a {
    font-weight : 500;
    color       : #009688;
}

.zip-ico {
    margin-right : 1rem;
}

@media screen and (max-width : 991px) {
    .downloads a i {
        font-size : 50px;
    }

    .downloads .download-link {
        font-size : 23px
    }

    .zip-ico {
        margin-right : 21px;
    }
}

/***********************************************************************************************************************
ABOUT US
***********************************************************************************************************************/

.team-member {
    position           : relative;
    overflow           : hidden;
    margin             : 20px;
    -webkit-transition : 0.3s;
    transition         : 0.3s;
    -webkit-transform  : translateY(0);
    transform          : translateY(0);
    text-align         : center;
    color              : #515656;
    border-radius      : 5px;
    background-color   : white;
    -webkit-box-shadow : 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow         : 0 5px 30px -10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width : 991px) and (min-width : 768px) {
    .team-member {
        margin : 20px 80px 0 80px;
    }
}

.team-member:hover {
    -webkit-transform : translateY(-5px);
    transform         : translateY(-5px)
}

.team-member .member-photo {
    overflow      : hidden;
    margin-bottom : 20px;
    padding-top   : 20px;
}

.team-member .member-photo img {
    -webkit-transition : 0.3s;
    transition         : 0.3s;
    -webkit-transform  : scale(1);
    transform          : scale(1);
}

.team-member:hover .member-photo img {
    -webkit-transform : scale(1.1);
    transform         : scale(1.1)
}

.team-member h4 {
    margin-bottom  : 20px;
    text-transform : uppercase;
}

@media screen and (max-width : 767px) {
    .team-member h4 {
        font-size : 18px;
    }

    .team-member h6 {
        font-size : 12px;
    }
}

.team-member h6 {
    font-size : 15px;
}

.team-member .member-mail {
    position           : absolute;
    bottom             : -80px;
    left               : 0;
    width              : 100%;
    padding            : 23px 10px;
    -webkit-transition : 0.3s;
    transition         : 0.3s;
    background-color   : #FFFFFF;
}

.team-member:hover .member-mail {
    bottom        : 0;
    margin-bottom : 0;
}
