@charset "UTF-8";

/***********************************************************************************************************************
GLOBAL
***********************************************************************************************************************/

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.gray-bg {
    background-color: #f8fef2;
}

.section-padding {
    padding: 100px 0 0 0;
}

.section-heading {
    margin-bottom: 80px;
}

.section-heading > h2 {
    font-weight: 300;
    color: #000000;
    font-size: 48px;
    margin: 0;
}

.line-shape-white,
.line-shape {
    width: 80px;
    height: 2px;
    background-color: #595959;
    margin-top: 15px;
}

.line-shape {
    margin-left: calc(50% - 40px);
}

h1 {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}

.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.hero .btn-outline-light:hover,
.btn-outline-light:hover {
    background-color: white;
    color: #4e4d4d;
}

/***********************************************************************************************************************
LOADER
***********************************************************************************************************************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4e4d4d;
    z-index: 99999999999;
}

.loading-cubes {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px auto 20px -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.loading-cubes .cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.loading-cubes .cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.loading-cubes .cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.loading-cubes .cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.loading-cubes .cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.loading-cubes .cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading-cubes .cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loading-cubes .cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/***********************************************************************************************************************
NAVBAR
***********************************************************************************************************************/

.navbar-brand {
    font-size: 1.50rem;
}

.navbar-brand span {
    font-size: 1.10rem;
}

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #4e4d4d;
    -webkit-box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 767px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-nav > .nav-item > .nav-link.active:after {
        content: "";
        border-bottom: 2px solid white;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width: 767px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }
}

/***********************************************************************************************************************
HERO
***********************************************************************************************************************/

.index {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 100px 0 0;
    color: #fff;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    background: url(../img/hero3.png) bottom center;
    background-size: cover;
}

.hero-text {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}

.hero-text span {
    font-size: 60px;
}

.tagline {
    font-size: 25px;
    font-weight: 300;
    color: #d1d1d1;
}

.hero .btn {
    margin-top: 40px;
    font-size: 25px;
}

.hero .btn-outline-light {
    color: #f8f9fa;
    background: transparent none;
    border: 3px solid #f8f9fa;
}

/***********************************************************************************************************************
PAGES HEADER
***********************************************************************************************************************/

.header-bg {
    height: 300px;
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E);
}

.header-content {
    text-align: center;
    margin-top: 45px;
}

.header-content h1 {
    font-size: 70px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
}

.line-shape-heading {
    width: 150px;
    height: 4px;
    background-color: white;
    margin-top: 15px;
}

.line-shape-heading {
    margin-left: calc(50% - 75px);
}

/***********************************************************************************************************************
FOOTER
***********************************************************************************************************************/

footer {
    margin-top: 150px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer-bg {
    background: #134E5E;
    background: -webkit-linear-gradient(to left, #71B280, #134E5E);
    background: linear-gradient(to left, #71B280, #134E5E);
}

.footer-bg h3 {
    color: white;
    padding-top: 50px;
    font-size: 40px;
}

.contacts {
    padding-top: 40px;
}

.contacts i {
    font-size: 25px;
}

.contacts a {
    color: white;
}

.contact {
    color: white;
    font-size: 17px;
    padding-top: 15px;
}

.socials {
    padding: 25px 0 70px 0;
}

.socials a {
    margin: 0 20px;
    color: #DFDFDF;
}

.socials a :hover {
    color: white;
}

.socials i {
    font-size: 40px;
}

.copyright {
    background-color: black;
    color: white;
    padding: 15px 0 15px 0;
    font-size: 15px;
}

/***********************************************************************************************************************
PROJECT
***********************************************************************************************************************/
.text p, ul {
    font-size: 20px;
    text-align: justify;
}

.text li {
    margin: 0 0 10px 0
}

.text .section-heading {
    margin-bottom: 50px;
}

.text .section-heading h2 {
    /*color: #009688;*/
}

.text .section-heading:not(.first-heading) {
    margin-top: 100px;
}

.text a {
    font-weight: 500;
    color: #009688;
}

/***********************************************************************************************************************
MAIN TECHNOLOGIES
***********************************************************************************************************************/

.tech {
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.tech:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.tech .tech-icon {
    height: 70px;
    margin-bottom: 30px;
}

.tech .tech-icon img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.tech:hover .tech-icon img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

.tech h4 {
    text-transform: uppercase;
    margin-bottom: 0;
}

.tech a {
    color: black;
}

/***********************************************************************************************************************
WEB GIS
***********************************************************************************************************************/

.gis,
#map {
    margin: 0;
    width: 100%;
    height: 100%;
}

.gis-content {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden
}

.gis-content .nav-menu {
    background-color: #4e4d4d;
    padding: 0;
}

.layer-switcher,
.ol-full-screen,
.ol-mouse-position,
.ol-rotate,
.ol-zoom {
    margin-top: 30px;
}

.ol-overviewmap,
.ol-attribution,
.ol-scale-line {
    margin-bottom: 70px;
}

/***********************************************************************************************************************
ABOUT US
***********************************************************************************************************************/

.team-member {
    margin: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    color: #515656;
    position: relative;
    -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.team-member:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.team-member .member-photo {
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.team-member .member-photo img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.team-member:hover .member-photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.team-member h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.team-member h6 {
    font-size: 15px;
}

.team-member .member-mail {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    padding: 23px 10px;
    background-color: #ffffff;
}

.team-member:hover .member-mail {
    bottom: 0;
    margin-bottom: 0;
}